Repository jenkinsci/blueocean-plugin, pull requests merged in 2020-09, with the labels that each got.

#2094 Fix PCT failures when running against Jenkins 2.249+
  blueocean-pipeline-api-impl/src/test/resources/io/jenkins/blueocean/rest/impl/pipeline/parallelStepsFromPost.jenkinsfile
  blueocean-pipeline-api-impl/src/test/resources/io/jenkins/blueocean/rest/impl/pipeline/stepsFromPost.jenkinsfile
  blueocean-rest-impl/src/test/java/io/jenkins/blueocean/service/embedded/TryBlueOceanMenuTest.java
Labels: test

#2102 Changed PowerMock Ignore due to a comflict with SSLSocketFactory
  blueocean-bitbucket-pipeline/src/test/java/io/jenkins/blueocean/blueocean_bitbucket_pipeline/server/BitbucketServerEndpointTest.java
Labels: test

#2080 [JENKINS-62669] Mercurial support going away from Bitbucket
  blueocean-bitbucket-pipeline/src/main/java/io/jenkins/blueocean/blueocean_bitbucket_pipeline/model/BbRepo.java
Labels: maintenance

#2106 Trying to make mock tests pass against Spring Security
  blueocean-pipeline-scm-api/src/test/java/io/jenkins/blueocean/rest/impl/pipeline/credential/BlueOceanCredentialsProviderTest.java
  blueocean-rest-impl/src/test/java/io/jenkins/blueocean/service/embedded/rest/UserImplPermissionTest.java
Labels: maintenance, test
