Repository jenkinsci/blueocean-plugin, pull requests merged in 2021-07, with the labels that each got.

#2143 Minor cleanup - mainly replaced deprecated jenkins.getInstance() with jenkins.get()
  acceptance-tests/src/main/java/io/blueocean/ath/AthModule.java
  blueocean-bitbucket-pipeline/src/main/java/io/jenkins/blueocean/blueocean_bitbucket_pipeline/BitbucketOrg.java
  blueocean-bitbucket-pipeline/src/main/java/io/jenkins/blueocean/blueocean_bitbucket_pipeline/BitbucketPipelineCreateRequest.java
  blueocean-bitbucket-pipeline/src/main/java/io/jenkins/blueocean/blueocean_bitbucket_pipeline/HttpRequest.java
  blueocean-config/src/main/java/io/jenkins/blueocean/config/BlueOceanConfigStatePreloader.java
  blueocean-config/src/main/java/io/jenkins/blueocean/config/JenkinsJSExtensions.java
  blueocean-config/src/test/java/io/jenkins/blueocean/config/BlueOceanConfigFactoryTest.java
  blueocean-git-pipeline/src/main/java/io/jenkins/blueocean/blueocean_git_pipeline/GitBareRepoReadSaveRequest.java
  blueocean-git-pipeline/src/main/java/io/jenkins/blueocean/blueocean_git_pipeline/GitUtils.java
  blueocean-git-pipeline/src/main/java/io/jenkins/blueocean/ssh/SSHKeyUtils.java
  blueocean-git-pipeline/src/test/java/io/jenkins/blueocean/blueocean_git_pipeline/GitScmTest.java
  blueocean-i18n/src/main/java/io/jenkins/blueocean/i18n/BlueI18n.java
  blueocean-jira/src/main/java/io/jenkins/blueocean/service/embedded/jira/JiraSCMListener.java
  blueocean-jira/src/test/java/io/jenkins/blueocean/service/embedded/jira/BlueJiraIssueTest.java
  blueocean-jira/src/test/java/io/jenkins/blueocean/service/embedded/jira/JiraSCMListenerTest.java
  blueocean-jwt/src/main/java/io/jenkins/blueocean/auth/jwt/impl/JwtAuthenticationServiceImpl.java
  blueocean-jwt/src/main/java/io/jenkins/blueocean/auth/jwt/impl/JwtTokenVerifierImpl.java
  blueocean-pipeline-api-impl/src/main/java/io/jenkins/blueocean/preload/BlueRunChangesetPreloader.java
  blueocean-pipeline-api-impl/src/main/java/io/jenkins/blueocean/preload/BlueUrlTokenizer.java
  blueocean-pipeline-api-impl/src/main/java/io/jenkins/blueocean/preload/PipelineActivityStatePreloader.java
  blueocean-pipeline-api-impl/src/main/java/io/jenkins/blueocean/preload/PipelineBranchRunStatePreloader.java
  blueocean-pipeline-api-impl/src/main/java/io/jenkins/blueocean/preload/PipelineStatePreloader.java
  blueocean-pipeline-api-impl/src/test/java/io/jenkins/blueocean/preload/BlueRunChangesetPreloaderTest.java
  blueocean-pipeline-api-impl/src/test/java/io/jenkins/blueocean/rest/impl/pipeline/MultiBranchTest.java
  blueocean-pipeline-api-impl/src/test/java/io/jenkins/blueocean/rest/impl/pipeline/PipelineNodeTest.java
  blueocean-pipeline-editor/src/main/java/io/blueocean/rest/pipeline/editor/PipelineMetadataService.java
  blueocean-rest-impl/src/main/java/io/jenkins/blueocean/service/embedded/BlueOceanRootAction.java
  blueocean-rest-impl/src/main/java/io/jenkins/blueocean/service/embedded/BlueOceanRootActionUrl.java
  blueocean-rest-impl/src/main/java/io/jenkins/blueocean/service/embedded/JwtTokenServiceEndpointImpl.java
  blueocean-rest-impl/src/main/java/io/jenkins/blueocean/service/embedded/rest/ExtensionClassContainerImpl.java
  blueocean-rest-impl/src/main/java/io/jenkins/blueocean/service/embedded/rest/FavoriteContainerImpl.java
  blueocean-rest-impl/src/main/java/io/jenkins/blueocean/service/embedded/rest/PipelineSearch.java
  blueocean-rest-impl/src/main/java/io/jenkins/blueocean/service/embedded/rest/QueueItemImpl.java
  blueocean-rest-impl/src/test/java/io/jenkins/blueocean/service/embedded/JwtTokenServiceEndpointImplTest.java
  blueocean-rest-impl/src/test/java/io/jenkins/blueocean/service/embedded/ProfileApiTest.java
  blueocean-rest-impl/src/test/java/io/jenkins/blueocean/service/embedded/TestProject.java
  blueocean-rest/src/main/java/io/jenkins/blueocean/rest/factory/BluePipelineFactory.java
  blueocean-web/src/main/java/io/jenkins/blueocean/ResourceCacheControl.java
  blueocean-web/src/main/java/io/jenkins/blueocean/dev/RunBundleWatches.java
  docker-demo/enable_security.groovy
Labels: chore, maintenance

#2184 Upgrade pubsub-light to 1.16
  Jenkinsfile
  acceptance-tests/runner/scripts/args.sh
  acceptance-tests/src/test/java/io/blueocean/ath/offline/edgeCases/FolderTest.java
  pom.xml
Labels: dependencies, java

#2188 Backport of PR 2187 in branch 1.24.x
  acceptance-tests/pom.xml
  acceptance-tests/runner/runtime/pom.xml
  acceptance-tests/src/test/java/io/blueocean/ath/offline/pipeline/DownstreamLinkTest.java
  acceptance-tests/src/test/resources/io/blueocean/ath/offline/pipeline/DownstreamLinkTest/downstreamJobLinkAppearsInRunResult.upstream.groovy
  acceptance-tests/src/test/resources/io/blueocean/ath/offline/pipeline/DownstreamLinkTest/sequentialStages.upstream.groovy
  blueocean-pipeline-api-impl/src/main/java/io/jenkins/blueocean/listeners/DownstreamJobListener.java
  blueocean-pipeline-api-impl/src/test/java/io/jenkins/blueocean/rest/impl/pipeline/PipelineNodeTest.java
  pom.xml
Labels: bug, dependencies, java
