Repository jenkinsci/blueocean-plugin, pull requests merged in 2023-06, with the labels that each got.

#2444 Update hamcrest
  acceptance-tests/runner/runtime/pom.xml
  pom.xml
Labels: dependencies

#2442 Allow the user to know if their click will be useful
  blueocean-rest-impl/src/main/java/io/jenkins/blueocean/service/embedded/BlueOceanUrlObjectImpl.java
  blueocean-rest-impl/src/main/resources/io/jenkins/blueocean/service/embedded/Messages.properties
  blueocean-rest-impl/src/main/resources/io/jenkins/blueocean/service/embedded/Messages_ko.properties
  blueocean-rest-impl/src/main/resources/io/jenkins/blueocean/service/embedded/Messages_ru.properties
  blueocean-rest-impl/src/main/resources/io/jenkins/blueocean/service/embedded/Messages_zh_CN.properties
Labels: enhancement

#2450 Upgrade plugin parent POM from 4.57 to 4.65
  .mvn/extensions.xml
  blueocean-github-pipeline/src/test/java/io/jenkins/blueocean/blueocean_github_pipeline/GithubMockBase.java
  blueocean-github-pipeline/src/test/java/io/jenkins/blueocean/blueocean_github_pipeline/GithubOrgFolderPermissionsTest.java
  blueocean-github-pipeline/src/test/java/io/jenkins/blueocean/blueocean_github_pipeline/GithubPipelineCreateRequestTest.java
  blueocean-rest-impl/src/test/java/io/jenkins/blueocean/service/embedded/PipelineApiTest.java
  pom.xml
Labels: dependencies, java

#2452 Adapt to HtmlUnit migration
  blueocean-jwt/src/test/java/io/jenkins/blueocean/auth/jwt/impl/JwtAuthenticationServiceImplTest.java
  blueocean-rest-impl/src/test/java/io/jenkins/blueocean/service/embedded/TryBlueOceanMenuTest.java
  pom.xml
Labels: test

#2453 Test with Java 17
  Jenkinsfile
  blueocean-rest-impl/src/test/java/io/jenkins/blueocean/service/embedded/BlueOceanUrlActionTest.java
  blueocean-rest-impl/src/test/java/io/jenkins/blueocean/service/embedded/rest/ArtifactImplTest.java
  pom.xml
Labels: test

#2454 Remove usages of Prototype.js
  blueocean-rest-impl/src/main/webapp/scripts/analytics.js
Labels: developer
